{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "node", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "import/no-commonjs": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "import/prefer-default-export": 0
  }
}
